.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
}
.btn.active {
  background-color: #4caf50;
  color: #ffffff;
}

.button-link {
  margin: 10px;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
